html{
    box-sizing: border-box;

}

*, *::after, *::before{
    box-sizing: inherit;
}
body{
    margin: 0;
}

#gamecontainer{
    display: flex;
    flex-direction: column;
    background: darkorange;
    padding: 10px;
}

#gameboard{
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
}
#gamestats, #gameboard{
    width: 100vw;
    
}
#gamestats{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 150px;
}
.gametile{
    width: 16.6666667%;
    height: 33.3333%;
    border: solid 1px black;
    border-radius: 5px;
    background: orange;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

